.image{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.txt{
  text-align: center;
  font-family: monospace;
}

.header {
    width: auto;
    height: 3em;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 2em;
}
